<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mmapp">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Application">
        <activity android:name="org.mmapp.assignments.AssignmentsOverviewActivity" />
        <activity android:name="org.mmapp.assignments.FahrenheitToCelsiusActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="org.mmapp.assignments.GoogleSearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="org.mmapp.assignments.GoogleSearchResultsActivity" />
        <activity android:name="org.mmapp.assignments.LotteryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="org.mmapp.assignments.NumpadActivity" />
        <activity android:name="org.mmapp.assignments.NumpadDemoActivity" />
        <activity android:name="org.mmapp.assignments.RecordVideoActivity" />
        <activity android:name="org.mmapp.assignments.StateSwitchingActivity" />
        <activity android:name="org.mmapp.labs.AboutActivity" />
        <activity android:name="org.mmapp.labs.BarcodeActivity" />
        <activity android:name="org.mmapp.labs.BorderLayoutActivity" />
        <activity android:name="org.mmapp.labs.CalculatorActivity" />
        <activity android:name="org.mmapp.labs.CalendarActivity" />
        <activity android:name="org.mmapp.labs.DialogActivity" />
        <activity android:name="org.mmapp.labs.EmailActivity" />
        <activity android:name="org.mmapp.labs.GeoActivity" />
        <activity android:name="org.mmapp.labs.LabsOverviewActivity" />
        <activity android:name="org.mmapp.labs.MenuActivity" />
        <activity android:name="org.mmapp.labs.RotationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="org.mmapp.labs.SimpleActivity" />
        <activity android:name="org.mmapp.labs.SMSActivity" />
        <activity android:name="org.mmapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
