<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.mmapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Application">

        <activity android:name=".assignments.AssignmentsOverviewActivity" />
        <activity android:name=".assignments.StateSwitchingActivity" />
        <activity android:name=".assignments.RecordVideoActivity" />
        <activity android:name=".assignments.NumpadDemoActivity" />
        <activity android:name=".assignments.NumpadActivity" />
        <activity android:name=".assignments.GoogleSearchResultsActivity" />
        <activity android:name=".assignments.GoogleSearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".assignments.LotteryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".assignments.FahrenheitToCelsiusActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".assignments.RandomSquaresActivity" />
        <activity android:name=".assignments.MondrianActivity" />
        <activity android:name=".assignments.TerminalActivity" />
        <activity android:name=".assignments.WildbienenActivity" />
        <activity android:name=".assignments.EditorActivity" />
        <activity android:name=".assignments.SnowflakesActivity" />
        <activity android:name=".assignments.BreakoutActivity" />

        <activity android:name=".labs.AboutActivity" />
        <activity android:name=".labs.AlarmClockActivity" />
        <activity android:name=".labs.BarcodeActivity" />
        <activity android:name=".labs.BorderLayoutActivity" />
        <activity android:name=".labs.ButtonActivity" />
        <activity android:name=".labs.CalculatorActivity" />
        <activity android:name=".labs.CalendarActivity" />
        <activity android:name=".labs.DialogActivity" />
        <activity android:name=".labs.EmailActivity" />
        <activity android:name=".labs.GeoActivity" />
        <activity android:name=".labs.LabsOverviewActivity" />
        <activity android:name=".labs.MenuActivity" />
        <activity android:name=".labs.QuotesActivity" />
        <activity android:name=".labs.RotationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".labs.ScreenDimensionsActivity" />
        <activity android:name=".labs.SimpleActivity" />
        <activity android:name=".labs.SMSActivity" />
        <activity android:name=".labs.TabsActivity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
